
.buttonrery {
  padding-left: 3em;
  margin-top: 1em;
}

h1 {
  border-radius: 10px;
  border-style: solid;
  padding-left: 1em;
  padding-top: 6px;
  padding-bottom: 3px;
}

.jumbotron {
  border-radius: 6px;
  padding-left: 1em;
  border-style: outset;
  border-width: thin;
}

body {
  margin: 5px
}

.debug {
  font-style: normal;
  font-family: monospace;
  font-size: smaller;
  color: darkblue;
}
