<!doctype html>
<html ng-app="testproject">
  <head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bignumber.js/bignumber.min.js"></script>
    <script src="bower_components/web3/dist/web3.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="appController as app">
    <header><h1>File self agreement</h1></header>
    <div class="jumbotron">
      <div>
        Hash : <input type="text" ng-model="app.file.hash"/>
        Period : <input type="text" ng-model="app.file.period"/>
        Status: <span class={{app.file.statusClass}}>{{app.file.status}}</span>
      </div>
      <div class="buttonrery btn-group">
        <button class="btn btn-success" ng-click="app.query()">check</button>
        <button class="btn btn-default" ng-click="app.create()">create</button>
        <button class="btn btn-default" ng-click="app.validate()">validate</button>
      </div>
    </div>
    
    <footer class="debug">
      {{app}}
    </footer>
  </body>
</html>
